repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: reports/evidence.plugins.yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: requirements-txt-fixer
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.291
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  # - repo: https://github.com/sqlfluff/sqlfluff
  #   rev: 2.3.2
  #   hooks:
  #     - id: sqlfluff-fix
  #       additional_dependencies:
  #         ["dbt-metricflow[duckdb]~=0.3.0", "sqlfluff-templater-dbt"]
