on:
  pull_request:
    branches:
      - main
jobs:
  ci:
    name: CI Check
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Setup Python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: "3.10.x"
      - name: Install requirements
        run: python3 -m pip install -r requirements.txt
      - name: Run EL
        run: python3 el.py -lc
      - name: Run T
        run: dbt deps && dbt build
